<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-xs-center"><%= t('.title') %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.label :name, class: 'control-label' %>
            <%= f.text_field :name, class: 'form-control form-text' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.label :email, class: 'control-label' %>
            <%= f.email_field :email, class: 'form-control form-text' %>
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="text-xs-center text-warning"><%= t('.waiting_confirmation') %>:
        <%= resource.unconfirmed_email %>
      </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.label :password, class: 'control-label' %>
            <small>
              <i class="text-muted"><%= t('.password_tip') %></i>
            </small>
            &nbsp;&nbsp;
            <% if @minimum_password_length %>
              <small class="text-muted">
                <%= t('.password_length', length: @minimum_password_length) %>
              </small>
            <% end %>
            <%= f.password_field :password, class: 'form-control form-text', autocomplete: "off" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control form-text', autocomplete: "off" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
          <%= f.label :current_password, class: 'control-label' %>
          <small>
            <i class="text-muted"><%= t('.password_change_confirmation') %></i>
          </small>
          <%= f.password_field :current_password, class: 'form-control form-text', autocomplete: "off" %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit t('.update_button'), class: 'btn btn-lg btn-xs-block btn-success' %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="col-xs-12 space">
      <h4 class="text-xs-center">
        <%= t('.social_accounts.title') %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <% if @user.identities.map {|i| i.provider }.include? 'twitter' %>
      <%= link_to mdi('twitter', t('.social_accounts.already_linked', provider: 'Twitter')),
       omniauth_authorize_path(resource_name, :twitter),
      class: 'btn btn-lg btn-xs-block btn-twitter space-xs' %>
      <% else %>
      <%= link_to mdi('twitter', t('.social_accounts.link_with', provider: 'Twitter')),
       omniauth_authorize_path(resource_name, :twitter),
      class: 'btn btn-lg btn-xs-block btn-twitter space-xs' %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <% if @user.identities.map {|i| i.provider }.include? 'facebook' %>
      <%= link_to mdi('twitter', t('.social_accounts.already_linked', provider: 'Facebook')),
       omniauth_authorize_path(resource_name, :facebook),
      class: 'btn btn-lg btn-xs-block btn-facebook space-xs' %>
      <% else %>
      <%= link_to mdi('facebook', t('.social_accounts.link_with', provider: 'Facebook')),
       omniauth_authorize_path(resource_name, :facebook),
      class: 'btn btn-lg btn-xs-block btn-facebook space-xs' %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <% if @user.identities.map {|i| i.provider }.include? 'google_oauth2' %>
      <%= link_to mdi('google', t('.social_accounts.already_linked', provider: 'Google')),
       omniauth_authorize_path(resource_name, :google_oauth2),
      class: 'btn btn-lg btn-xs-block btn-google space-xs' %>
      <% else %>
      <%= link_to mdi('google', t('.social_accounts.link_with', provider: 'Google')),
       omniauth_authorize_path(resource_name, :google_oauth2),
      class: 'btn btn-lg btn-xs-block btn-google space-xs' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-xs-12 space-2x">
      <h5 class="text-xs-center"><%= t('.danger_zone.title') %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead"><%= t('.danger_zone.description') %></p>
        <%= delete_link mdi('alert-outline', t('.danger_zone.cancel_account')),
         registration_path(resource_name), class: 'btn btn-danger' %>
    </div>
  </div>
</section>
