<div class="row space-2x">
  <div class="col-xs-12">
    <a class="btn btn-link btn-xs-block" href="#" data-toggle="collapse" data-target="#emotions_percentages"
    aria-expanded="false" aria-controls="emotions_percentages">
    <h4><%= t('.likely_emotions') %>
       <%= mdi('chevron-down') %></h4>
  </a>
  <div class="collapse emotions_collpsable" id="emotions_percentages">
    <section class="space-2x">
      <% if recent_emotion %>
        <%= joy recent_emotion.joy %>
        <%= surprise recent_emotion.surprise %>
        <%= sadness recent_emotion.sadness %>
        <%= anger recent_emotion.anger %>
        <%= fear recent_emotion.fear %>
      <% else %>
        <p class="lead text-xs-center">
          <%= t('.not_ready') %>
        </p>
       <% end %>
  </div>
</div>
</div>
