<section class="card">
  <% if entry.entry_header_url %>
  <%= cl_image_tag entry.entry_header.full_public_id,
  width: 1000, height: 100, crop: :crop, style: 'max-width: 100%' %>
  <% end %>
  <div class="entry-item">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-xs-right">
          <%= favorite_button entry %>
        </div>
      </div>
    </div>
    <div class="row space">
      <div class="col-xs-12">
        <h2 class="text-xs-center break-word">
          <%= link_to entry.title, journal_entry_path(entry.journal, entry) %>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <small class="text-muted">
          Written at <%= created_time_of entry %>
        </small>
      </div>
    </div>
    <div class="row space-2x">
      <div class="col-xs-12">
        <div class="break-word text-justify">
          <blockquote>
            <%= emojione short_text(entry.body) %>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
