
<% content_for :back_link do %>
<%= back_link journal_path(@journal) %>
<% end %>
<% content_for :create_entry do %>
<%= create_entry_nav_link @journal %>
<% end %>
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-md-right">
        <%= link_to t('.new_entry'), new_journal_entry_path(@journal), class: 'btn btn-xs-block btn-primary'%>
      </div>
    </div>
  </div>
  <div class="row space-2x">
    <div class="col-xs-12 col-md-10 offset-md-1">
      <% if @entries.empty? %>
      <p class="lead text-xs-center">
        <%= t('.no_entries_html', link: link_to(t('.new_one'), new_journal_entry_path(@journal))) %>  ?
      </p>
      <% else %>
      <% @entries.each do |entry| %>
      <%= render 'entries/entry_item', entry: entry %>
      <% end %>
      <% end %>
    </div>
  </div>
</section>
