<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @entry.journal %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @entry.favorite %>
</p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @entry.body %>
</p>

<p>
  <strong>Accomplishment:</strong>
  <%= @entry.accomplishment %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
