<% content_for :back_link do %>
<%= back_link journal_entries_path(@entry.journal, @entry) %>
<% end %>
<% content_for :create_entry do %>
<%= create_entry_nav_link @entry.journal %>
<% end %>
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag @entry.entry_header_url %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-xs-right">
        <%= favorite_button @entry %>
      </div>
      <div class="pull-xs-left">
        <div class="dropdown">
          <button class="btn btn-secondary-outline dropdown-toggle" type="button" id="options_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><i class="fa fa-fw fa-cog"></i></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="options_menu">
            <%= link_to 'Edit', edit_journal_entry_path(@entry.journal, @entry), class: 'dropdown-item' %>
            <%= delete_link 'Delete', journal_entry_path(@entry.journal, @entry), class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center break-word"><%= @entry.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-xs-center">
      <span class="text-muted">
        Written at <%= created_time_of @entry %>
      </span>
    </div>
  </div>
  <div class="row space-3x">
    <div class="col-xs-12 break-word">
      <%= emojione(simple_format(markdown(@entry.body))) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <div class="row space-2x">
    <div class="col-xs-12 break-word">
      <% if not @entry.accomplishment.empty? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-success">
            <p class="lead"><strong>Oooh Yeah!</strong> Let's remember what you accomplished !</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="">
            <blockquote>
              <p class="lead"><%= @entry.accomplishment %></p>
            </blockquote>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= render 'entries/sentiments', recent_sentiment: @sentiment %>
  <%= render 'entries/emotions', recent_emotion: @emotion %>
</section>
