<section class="container">
  <div class="row">
      <div class="col-xs-12">
        <div class="pull-xs-right">
          <%= favorite_button @entry %>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center"><%= @entry.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-xs-center">
      <span class="text-muted">
        Written at <%= created_time_of @entry %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= @entry.body %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if not @entry.accomplishment.empty? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-success" role="alert">
            <strong>Oooh Yeah!</strong> Let's remember what you accomplished !
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead"><%= @entry.accomplishment %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= render 'entries/emotions' %>
</section>
