<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-xs-center">Complete your registration</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 space">
          <%= form_for(current_user, :as => 'user', :url => end_finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
          <% if @show_errors && current_user.errors.any? %>
          <div id="error_explanation">
            <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
            <% end %>
          </div>
          <% end %>
          <div class="form-group">
            <%= f.label :email %>
            <div class="controls">
              <%= f.text_field :email, :autofocus => true, :value => '', class: 'form-control form-text' %>
              <p class="help-block">Please confirm your email address. No spam.</p>
            </div>
          </div>
          <div class="actions">
            <%= f.submit 'Continue', :class => 'btn btn-lg btn-success' %>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </section>
