<div class="container home">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center display-3"><%= t('.title') %></h1>
    </div>
  </div>
  <div class="row">
    <section class="col-xs-12 text-xs-center presentation">
      <%= image_tag 'angel.svg', class: 'text-xs-center space', height: 250 %>
      <p class="text-xs-center lead text-muted space"><%= t('.description') %></p>
    </section>
  </div>

  <section class="description row">

    <div class="col-xs-12 col-md-6  space-4x">
      <p class="text-justify"><%= t('.about') %></p>
      <p class="text-xs-center">
        <%= image_tag 'unicorn.svg', height: 150 %>
      </p>
      <p class="lead space-2x text-xs-center text-orange"><%= t('.motivated') %></p>
    </div>

    <div class="col-xs-12 col-md-6 get-started space-2x">
      <div class="text-xs-center">
        <h2 class="text-xs-center space-4x"><%= t('.get_started.title') %></h2>
        <p class="text-xs-center space"><%= image_tag 'cool.svg', height: 100 %></p>
        <%= link_to mdi_on_end('chevron-right', t('.get_started.button')),
         new_user_registration_path, class: 'btn-lg btn-xs-block btn-orange btn-hg btn space' %>
      </div>
    </div>

  </section>

</div>
<!-- end container -->

<div class="container-fluid  features">

  <div class="row">

    <div class="col-xs-12 col-md-4 space-2x text-xs-center">
      <%= image_tag 'features/pencil.svg', height: 70 %>
      <p class="text-xs-center space lead">
        <%= t('.features.markdown.title') %>
      </p>
      <p>
        <%= t('.features.markdown.description') %>
      </p>
    </div>

    <div class="col-xs-12 col-md-4 space-2x text-xs-center">
      <%= image_tag 'features/bookmark.svg', height: 70 %>
      <p class="lead space">
        <%= t('.features.bookmark.title') %>
      </p>
      <p>
        <%= t('.features.bookmark.description') %>
      </p>
    </div>

    <div class="col-xs-12 col-md-4 space-2x text-xs-center">
      <%= image_tag 'features/key.svg', height: 70 %>
      <p class="lead space"><%= t('.features.private.title') %></p>
      <p><%= t('.features.private.description') %></p>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>

  <div class="row space-4x">

    <div class="col-xs-12 col-md-8 offset-md-2 text-xs-center space-bottom-3x">
      <%= image_tag 'features/analysis.svg', height: 100 %>
      <h2 class="space"><%= t('.features.analysis.title') %></h2>
      <p>
        <%= t('.features.analysis.description') %>
    </div>

  </div>

</div>
<!-- end container fluid -->
<footer class="footer">
  <div class="container">
    <span class="pull-md-left"><%= t('.footer.emojis') %>
      <a href="http://emojione.com" target="_blank">Emojione</a>
    </span>
    <br class="hidden-md-up">
    <span class="pull-md-right"><%= t('.footer.made_with_html', icon: image_tag('heart-ribbon.svg', height: 20)) %>
      <a target="_blank" href="https://twitter.com/jaoevangelista">João Pedro Evangelista</a>
    </span>
  </div>
</footer>
