<%= form_for(journal) do |f| %>
  <% if journal.errors.any? %>
    <div id="error_explanation">
      <p class="text-danger">
        <%= pluralize(journal.errors.count, "error") %>
         prohibited this journal from being saved
       </p>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group <%= journal.errors[:title].empty? ? '' : 'has-danger' %>">
        <%= f.text_field :title, class: 'form-control text-xs-center form-text input-lg',
        placeholder: 'Give your journal a title', required: 'required', autocomplete: 'off' %>
        <% if journal.errors[:title].any? %>
        <% journal.errors[:title].each do |message| %>
        <span class="help-block"><%= message.capitalize %></span>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.hidden_field :user_id %>
      <div class="actions text-xs-center">
        <%= f.submit class: 'btn btn-success btn-lg btn-xs-block'%>
      </div>
    </div>
  </div>
<% end %>
