<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center"><%= t('.title') %></h1>
    </div>
  </div>
  <div class="row space-2x">
    <div class="col-xs-12">
      <div class="pull-md-right">
        <%= link_to t('.new_journal'), new_journal_path, class: 'btn btn-xs-block btn-primary'%>
      </div>
    </div>
  </div>
  <div class="row space">
    <div class="col-xs-12">
      <% if @journals.empty? %>
      <p class="lead text-xs-center"><%= t('.no_journals') %></p>
      <p class="text-xs-center lead"><%= link_to t('.create_new'), new_journal_path %></p>
      <% else %>
      <div class="table responsive">
        <table class="table">
          <tbody>
            <% @journals.each do |journal| %>
            <tr>
              <td><%= link_to journal.title, journal_entries_path(journal) %></td>
              <td class="td-option"><%= link_to mdi('eye'), journal, class: 'show-link' %></td>
              <td class="td-option"><%= link_to mdi('pencil-box-outline'), edit_journal_path(journal),
               class: 'edit-link' %></td>
              <td class="td-option"><%= delete_link mdi('delete-variant'), journal, class: 'delete-link' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</section>
