<% content_for :back_link do %>
<%= back_link journals_path %>
<% end %>
<% content_for :create_entry do %>
<%= create_entry_nav_link @journal %>
<% end %>
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center">
        Details of <%= @journal.title %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-md-right text-xs-center">
        <small>
          <%= link_to icon('pencil', 'Edit', class: 'fa-fw'), edit_journal_path(@journal),
          class: '' %>
        </small>
      </div>
    </div>
  </div>
  <div class="row space-3x">
    <div class="col-xs-12">
      <p class="lead">
        <span class="text-warning"><i class="fa fa-fw fa-clock-o"></i></span>
        Last time updated was at: <%= update_time_of @journal %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">
        <span class="text-success"><i class="fa fa-fw fa-check"></i></span>
        You have <%= @journal.entries.count %> entries in this journal
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">
        <%= link_to icon('file-text-o', 'See the entries', class: 'fa-fw text-info'), journal_entries_path(@journal) %>
        <%= link_to 'or write a new entry here', new_journal_entry_path(@journal) %>
      </p>
    </div>
  </div>
  <!-- todo add lenght of the all words in journal -->
  <!-- todo add avg percentage of emotions on this journal -->
  <!--  Stub -->
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-xs-center">Most likely emotions</h3>
          <hr>
        </div>
      </div>
      <div class="row space">
        <div class="col-xs-12">
          <%= image_tag 'emotions/joy.svg', height: 35 %>
          <span>Joy</span>
          <progress class="space progress progress-striped progress-animated progress-success" value="60" max="100">60%</progress>
          <%= image_tag 'emotions/surprise.svg', height: 35 %>
          <span>Suprise</span>
          <progress class="space progress progress-striped progress-animated progress-info" value="32" max="100">32%</progress>
          <%= image_tag 'emotions/sad.svg', height: 35 %>
          <span>Sadness</span>
          <progress class="space progress progress-striped progress-animated progress-warning" value="20" max="100">20%</progress>
          <%= image_tag 'emotions/anger.svg', height: 35 %>
          <span>Anger</span>
          <progress class="space progress progress-striped progress-animated progress-danger" value="10" max="100">10%</progress>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="row space-3x">
    <div class="col-xs-12">
      <h1 class="text-md-left text-xs-center">
        You have written <b>563</b> words!
      </h1>
    </div>
  </div>
</section>
