<% content_for :back_link do %>
<%= back_link journals_path %>
<% end %>
<% content_for :create_entry do %>
<%= create_entry_nav_link @journal %>
<% end %>
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-xs-center">
        Details of
        <%= @journal.title %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-md-right text-xs-center">
        <small>
          <%= link_to mdi('pencil', 'Edit', class: 'mdi-half'), edit_journal_path(@journal),
          class: '' %>
        </small>
      </div>
    </div>
  </div>
  <div class="row space-3x">
    <div class="col-xs-12">
      <p class="lead">
        <span class="text-warning">
          <%= mdi('clock') %>
        </span>
        Last time updated was at:
        <%= update_time_of @journal %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">
        <span class="text-success">
          <%= mdi 'check' %>
        </span>
        You have
        <%= @journal.entries.count %>
        entries in this journal
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">
        <%= link_to mdi('file-multiple', 'See the entries', class: 'text-info'), journal_entries_path(@journal) %>
        <%= link_to 'or write a new entry here', new_journal_entry_path(@journal) %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 space-2x">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-xs-center">Average emotions</h3>
          <hr>
        </div>
      </div>
      <div class="row space">
        <div class="col-xs-12">
          <%= joy @avg_emotions[:joy] %>
          <%= surprise @avg_emotions[:surprise]%>
          <%= sadness @avg_emotions[:sadness] %>
          <%= anger @avg_emotions[:anger] %>
          <%= fear @avg_emotions[:fear] %>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
