<li class="nav-item dropdown">
  <a class="nav-link" id="navbarDropdown1" data-target="#" href="#" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">
  <%= image_tag gravatar(current_user.email), height: 25, class: 'img-circle' %>&nbsp;
  <%= current_user.name %>&nbsp;
  <%= mdi('chevron-down') %></a>
  <ul class="dropdown-menu dropdown-menu-right xs-dropdown" aria-labelledby="navbarDropdown1">
    <li><%= link_to mdi('pencil', t('navbar.profile.edit')), edit_user_registration_path(current_user), class: 'dropdown-item' %></li>
    <li><%= link_to mdi('settings', t('navbar.profile.settings')), settings_path, class: 'dropdown-item' %></li>
    <li class="divider"></li>
    <li><%= link_to(mdi('logout-variant', t('navbar.profile.signout')), destroy_user_session_path, method: :delete, class: 'dropdown-item') %></li>
  </ul>
</li>
